<nav class="main-nav">
    <div class="nav-header">
        <div class="nav-container">
            <a href="http://127.0.0.1:5501/home.html" class="navbar-brand"><img src="/images/vesta-logo-1.png" alt=""></a>
            <ul class="links-pc">
                <li><a href="http://127.0.0.1:5501/buy-home.html">Купи</a></li>
                <li><a href="http://127.0.0.1:5501/sell-property.html">Продай</a></li>
                <li><a href="http://127.0.0.1:5501/about-us.html">За нас</a></li>
                <li><a href="http://127.0.0.1:5501/contact.html">Контакти</a></li>
                <li><a href="http://127.0.0.1:5501/login.html">Логин</a></li>

            </ul>
            <button class="menu-toggle">
                <i class="fas fa-bars fa-2x"></i>
            </button>
        </div>
    </div>
    <div class="mobile-menu-container">
        <ul class="links-mobile">
            <a href="http://127.0.0.1:5501/buy-home.html"><li>Купи</li></a>
            <a href="http://127.0.0.1:5501/sell-property.html"><li>Продай</li></a>
            <a href="http://127.0.0.1:5501/about-us.html"><li>За нас</li></a>
            <a href="http://127.0.0.1:5501/contact.html"><li>Контакти</li></a>
        </ul>
    </div>
    
</nav>