<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/headernav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/scroll-animation.css">
    <script src="/javascript/display-animation.js"></script>

    <title>За нас</title>
</head>
<body>
    <div class="main-nav-container">
        <!-- <%- include('./partials/nav') %> -->
    </div>

    <div class="main-container">
        <div class="left-col">
            <h1 class="left-anim">Запознайте се с екипа на Веста-с</h1>
            <div class="about-info left-anim">
                <p>
                    Агенция VESTA – S е основана през 2000г. 15 годишният ни опит на пазара на недвижими имоти гарантира на нашите клиенти и колеги отлично професионално обслужване и 100% коректност при използването на нашите услуги. <br>  <br>Ние сме специализирана агенция за посредничество при покупко – продажба и отдаване под наем на недвижими имоти. Работим с уважаван екип от Нотариуси и отличен екип от адвокати, което гарантира на нашите клиенти защитата на интересите им. Ние предлагаме:
                </p>
                <div class="features-buy-sell feature left-anim">
                    <h2>Посредничество</h1>
                    <ul class="features-buy-sell-list">
                        <li><span><i class="fas fa-check"></i></span>Посредничество при покупко-продажба на недвижим имот</li>
                        <li><span><i class="fas fa-check"></i></span>Посредничество при отдаване под наем на недвижим имот</li>
                        <li><span><i class="fas fa-check"></i></span>Посредничество при наемане на недвижим имот</li>
                    </ul>
                </div>
    
                <div class="features-consulting feature left-anim">
                    <h2>Консултации</h1>
                    <ul class="features-consulting-list">
                        <li><span><i class="fas fa-check"></i></span>Юридическа консултация и подготовка на документи за нотариално изповядване на сделка</li>
                        <li><span><i class="fas fa-check"></i></span>Консултация и съдействие при закупуване с ипотечен кредит</li>
                    </ul>
                    <a href="http://127.0.0.1:5501/contact.html"> <button class="contact-us">Свържи се с нас</button></a>
    
                </div>
            </div>        
        </div>
        <div class="right-col right-anim">
            <img src="/images/about-us-vesta-1.jpg" alt="">
        </div>

    
    </div>

    <div id="map"></div>

    <div class="footer-container"></div>
    
    <script src="/javascript/header.js"></script>
    <script src="/javascript/about.js"></script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcZRgMj9AOCjArpePUdt_nEvkRbf1B8B0&callback=initMap">
</script>
</body>
</html>