.html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    --primary-color: #E8D7CF;
    --secondary-color:#243951;
    --background: #f2f2f2;

    background-color: var(--background);

    font-family: 'intro_light_altregular', sans-serif;
}

.main-nav-container {
    display: block;
    margin: 0;
    width: 100%;
    height: 5rem;
    background: var(--background);
    z-index: 99;


}

.main-container {
    margin: 0;
    padding-bottom: 5rem;
    // height:56rem;
    background: black;
    display: flex;
    justify-content: center;
    

    .contact-form-container{
        margin: 7rem 5rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

        form {
            display: flex;
            flex-direction: column;
        }

        h1 {
            color: white;
            font-size: 40px;
        }

        .contact {
            display: flex;
            flex-direction: column;

            .small-container {
                display: flex;
                align-items: center;
            }

            p, i {
                color: white;
            }

            p {
                font-size: large;
            }

            i {
                margin-right: 1rem;
            }
        }

        .right-col {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-bottom: 7rem;

            input, select {
                margin-top: 1rem;
                font-size: x-large;
            }

            select {
                cursor: pointer;
                width: 19rem;
            }

            input#subject{
                display: none;
            }

            input#message {
                padding-bottom: 10rem;
            }

            button {
                width: 30%;
                min-width: 9rem;
                margin: 1rem 0 1rem 0 ;
                padding: 1rem;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 700;
                font-size: x-large;
                color: var(--secondary-color);
                background: #E8D7CF;
                border: none;
                transition: all 0.5s ease;
            }
    
            button:hover {
                background: #e9e2e0;
            }
        }
    }
}

// .footer-container {
//     margin-top: 5rem;
// }

.business-location-img {
    display: none;
}

@media screen and (max-width: 1038px){
    .main-container .contact-form-container .right-col {
        width: 100%;
        // flex-direction: row;
        // flex-wrap: wrap;
    }
}